
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card" >
      <div class="card-header">Log in to continue: </div>
      <div class="card-body">
        <p>Username: <input #Name placeholder="username" />
        <p>Password: <input #Password placeholder="password"/>
        <p><button class="btn btn-md" (click)="login(Name.value,Password.value)" >Login</button>
        <p><button class="btn btn-md btn-primary" (click)="googleLogin()" >Sign in with Google</button>
      </div>
    </div>
  </div>
</div>