<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        MyQuotes
      </div>
      <div class="card-body">
        <ul class="list-group my-quotes">
          <li *ngFor="let quote of currentUser.myQuotes" 
              (click)="SubmitQuote($event, quote)"
              [ngClass]="{ enabled:!MyPlayedQuote() }"
              class="list-group-item" > <!-- $event: click event causing this -->
            {{quote}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        PlayedQuotes
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li *ngFor="let quote of model.playedQuotes" 
              [ngClass] = "{ 'list-group-item-success':quote.chosen }"
              class="list-group-item">
            {{quote.text}}
            <span *ngIf="!IsEveryoneDone() || (!IsDealer() && !ChosenQuote())" class="badge badge-secondary float-right">hidden</span>
            <span *ngIf="ChosenQuote()" class="badge badge-primary float-right">{{quote.playerName}}</span>
            <button *ngIf="IsEveryoneDone() && IsDealer() && !ChosenQuote()" 
                    (click)="quote.chosen = true"
                    class="btn btn-sm float-right">
                    Choose
                  </button>
          </li>
        </ul>
      </div>
    </div>

    <!--picture-->
    <div class="card"> 
      <img 
        class="card-img"
        *ngIf="model.picture" 
        [src]="model.picture.url" 
        [alt]="model.picture.name" />
      <div class="card-img-overlay" style="text-align:center">
        <button 
          
          (click)="FlipPicture($event)"
          class="btn btn-success btn-lg" >
          Flip Picture
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        otherPlayers
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li *ngFor="let user of model.players" class="list-group-item">{{user.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
